---
layout: project
title: project
class: page
---

<article>
	<section class="container">
		<div class="row">
			<div class="col-sm-10">
				<h1><span>Haida Gwaii</h1>
				<h2>Landing Page v 1.0</h2>
			</div>
		</div>
	</section>
	<hr>
	<section class="container">
		<div class="row">
			<a href="landing.html" class="btn btn-primary">Landing Page</a>
		</div>
	</section>
</article>
	

