---
layout: landing
title: home
---
<section class="hero para">
	<div class="hero-wrapper">
		<div class="logo"><img src="{{ site.baseurl }}/assets/svg/logo.01.svg"></div>
		<div class="hero-cta para-container" data-para="vert" data-speed="-3">
			<h1>Maybe we're not totally screwed.</h1>
			<a href="" class="btn btn-primary">Watch The Trailer</a> <a href="" class="btn btn-primary">About The Film</a>
		</div>
		
	</div>
	<div class="bg para-container" data-para="vert" data-speed="-2" style="background-image: url({{ site.baseurl }}/assets/images/bg.01.jpg);"></div>
</section>
<section>
	<div class="container">
		<div class="flex-video vimeo widescreen">
			<div onclick="thevid=document.getElementById('thevideo'); thevid.style.display='block'; this.style.display='none'"><img src="{{ site.baseurl }}/assets/images/video.overlay.01.png" style="cursor:pointer" /></div><div id="thevideo" style="display:none">
				<iframe id="thevideo" width="560" height="315" src="https://www.youtube.com/embed/d787jO4vcXQ?rel=0&showinfo=0&modestbranding=1&controls=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<header class=" text-center">
					<h2>About The Film</h2>
					<hr class="fancy">
					<h3>Award-winning director Charles Wilkinson (Oil Sands Karaoke, Peace Out) turns his camera on the unique community uniting to protect land and sea for the next generation.</h3>
				</header>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">
				<p>Haida hereditary Chief Allan Wilson, renowned activist Guujaaw and non-indigenous eco-activist Severn Cullis-Suzuki work alongside scientists, organic farmers, artists and quirky islanders to create a synergy of sustainable development. But Haida Gwaii sits squarely in the path of the proposed Tar Sands seaway to Asia. The desperate fight to protect land and sea may be just beginning.</p>
			</div>
			<div class="col-sm-4">
				<p>Haida hereditary Chief Allan Wilson, renowned activist Guujaaw and non-indigenous eco-activist Severn Cullis-Suzuki work alongside scientists, organic farmers, artists and quirky islanders to create a synergy of sustainable development. But Haida Gwaii sits squarely in the path of the proposed Tar Sands seaway to Asia. The desperate fight to protect land and sea may be just beginning.</p>
			</div>
		</div>
	</div>
	<div class="bg" style="background-image: url({{ site.baseurl }}/assets/images/trim.top.01.jpg);"></div>
</section>

<img src="{{ site.baseurl }}/assets/images/filmmakers.01.jpg" class="img-responsive center-block">

<section class="container">
	<div class="row text-center">
		<div class="col-sm-8 col-sm-offset-2">
			<h2>The Filmmakers</h2>
			<hr class="fancy">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h1>Tina Schliessler</h1>
			<p>Competently promote functionalized deliverables rather than customized experiences. Uniquely synergize extensive data vis-a-vis an expanded array of functionalities.</p>
			<p>Competently promote functionalized deliverables rather than customized experiences. Uniquely synergize extensive data vis-a-vis an expanded array of functionalities.</p>

		</div>
			<div class="col-sm-6">
			<h1>Charles Wilkinson</h1>
			<p>Competently promote functionalized deliverables rather than customized experiences. Uniquely synergize extensive data vis-a-vis an expanded array of functionalities.</p>
			<p>Competently promote functionalized deliverables rather than customized experiences. Uniquely synergize extensive data vis-a-vis an expanded array of functionalities.</p>

		</div>
	</div>	
</section>
<section class="container">
	<div class="row text-center">
		<div class="col-sm-8 col-sm-offset-2">
			<h2>People In The Film</h2>
			<hr class="fancy">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<img src="{{ site.baseurl }}/assets/images/person.01.jpg">
			<h4>Severn Cullis-Suzuki</h4>
			<p>Competently promote functionalized deliverables rather than customized experiences. Uniquely synergize extensive data vis-a-vis an expanded array of functionalities.</p>
		</div>
		<div class="col-sm-3">
			<img src="{{ site.baseurl }}/assets/images/person.01.jpg">
			<h4>Severn Cullis-Suzuki</h4>
			<p>Competently promote functionalized deliverables rather than customized experiences. Uniquely synergize extensive data vis-a-vis an expanded array of functionalities.</p>
		</div>
		<div class="col-sm-3">
			<img src="{{ site.baseurl }}/assets/images/person.01.jpg">
			<h4>Severn Cullis-Suzuki</h4>
			<p>Competently promote functionalized deliverables rather than customized experiences. Uniquely synergize extensive data vis-a-vis an expanded array of functionalities.</p>
		</div>
		<div class="col-sm-3">
			<img src="{{ site.baseurl }}/assets/images/person.01.jpg">
			<h4>Severn Cullis-Suzuki</h4>
			<p>Competently promote functionalized deliverables rather than customized experiences. Uniquely synergize extensive data vis-a-vis an expanded array of functionalities.</p>
		</div>
	</div>	
</section>
<section class="container">
	<div class="row">
		<div class="col-sm-8  col-sm-offset-2 text-center">
			<h3>&ldquo;Some of the most important environmental documentaries being made in the world include the work of director Charles Wilkinson&rdquo;</h3>
			<p>The Film Corner</p>
		</div>
	</div>
</section>
<section class="hero">
	<div class="hero-wrapper">
		<div class="hero-cta">
			<h1>Haida Gwaii &mdash; On the Edge of the Earth.</h1>
			<p>&copy; Shore Films 2015. All rights reserved.</p>
			<div class="row">
				<div class="col-sm-2 col-sm-offset-5">
					<img src="{{ site.baseurl }}/assets/svg/logo.knowledge.01.svg">
				</div>
			</div>	
		</div>

	</div>
	<div class="bg" style="background-image: url({{ site.baseurl }}/assets/images/bg.02.jpg);"></div>
</section>
	

