
	<header>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand  hidden-xs hidden-sm" href="">
						<img src="assets/svg/logo.01.svg" alt="logo.01">
		  			</a>
		  			<a class="navbar-brand  visible-xs visible-sm" href="">
						<img src="assets/svg/logo.02.svg" alt="logo.01">
		  			</a>
		  		</div>
		  		<div class="collapse navbar-collapse" id="navigation">
			  		<ul class="nav navbar-nav navbar-right">
				  		<li><a href="" data-toggle=""><span class="glyphicon Home"></span>&nbsp;Home</a></li>
						<li class="dropdown"><a title="" href="" data-toggle="dropdown" class="" aria-haspopup="true">What We Remove <span class="caret"></span></a>
							<ul role="menu" class=" dropdown-menu">
								<li class=""><a href="#" data-toggle="">Link</a></li>
								<li class=""><a href="#" data-toggle="">Link</a></li>
								<li class=""><a href="#" data-toggle="">Link</a></li>
								<li class=""><a href="#" data-toggle="">Link</a></li>
							</ul>
						</li>
						<li class="dropdown"><a title="" href="" data-toggle="dropdown" class="" aria-haspopup="true">Commercial <span class="caret"></span></a>
							<ul role="menu" class=" dropdown-menu">
								<li class=""><a href="#" data-toggle="">Link</a></li>
								<li class=""><a href="#" data-toggle="">Link</a></li>
								<li class=""><a href="#" data-toggle="">Link</a></li>
								<li class=""><a href="#" data-toggle="">Link</a></li>
							</ul>
						</li>
						<li><a title="" href="" class="" aria-haspopup="true">Pricing</a></li>
						<li><a title="" href="" class="" aria-haspopup="true">Location</a></li>
						<li class="dropdown"><a title="" href="" data-toggle="dropdown" class="" aria-haspopup="true">About Us <span class="caret"></span></a>
							<ul role="menu" class=" dropdown-menu">
								<li class=""><a href="#" data-toggle="">Link</a></li>
								<li class=""><a href="#" data-toggle="">Link</a></li>
								<li class=""><a href="#" data-toggle="">Link</a></li>
								<li class=""><a href="#" data-toggle="">Link</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="btn-toolbar tool-bar-wrapper hidden-xs hidden-sm" role="toolbar" aria-label="...">
					<div class="btn-group tool-bar" role="group" aria-label="...">
						<h1 class="location">Greater Edmonton <a href="tel:">1-800-000-0000</a></h1>
						<a href="" class="btn btn-primary btn-lg pull-right">Book Online Now</a>
						<a href="" class="btn btn-warning btn-lg pull-right"><span class="rdcons alt d" style="text-transform: lowercase !important;">e</span> Check Pricing</a>
					</div>
				</div>

			</div>
		</nav>
	</header>
	<div class="visible-xs visible-sm">
		<div class="btn-toolbar tool-bar-wrapper" role="toolbar" aria-label="...">
			
			<h1 class="pull-left"><a href="tel:"><span class="">Call 1-800-000-000</span></a></h1>
			
			<a href="" class="btn btn-primary btn-lg pull-right">Book Online</a>
		
		</div>
	</div>

	
