// ####################################################################################################
//
// third-party overrides
//
// ####################################################################################################

.animated {
	@include animation-delay(1s);	
}

.flex-video {
	margin-bottom: 6em;
	box-shadow: 0px 0px 5px rgba(#000000, 0.4);
}

// ####################################################################################################
//
// bootstrap overrides
//
// ####################################################################################################

.btn {
	text-transform: uppercase;	
	font-size: em(14px);
	font-weight: 700;
}
// ####################################################################################################
//
// layout
//
// @media (max-width: $screen-md) {}
//
// ####################################################################################################

// basic stuff
body {
	background: #000;
}

main {
	background: #fff;
}
article {
}
section {
	position: relative;
	padding: 6em 0 3em;
	> .container {
		position: relative;
		z-index: 2;	
	}
}

// advanced stuff
.nav {
	@extend %ui-basic;
}
.bg {
	@extend %full-coverage;
	background-position: center top;
}
.hero {
	height: 100vh;
	width: 100vw;
	padding: 0;
	background: #000000;
	.bg {
		background-position: center bottom;
	}
	.hero-wrapper {
		position: relative;
		z-index: 1;	
		text-align: center;	
		height: 100vh;
	}
	&.alt {
		height: auto;
		
		background: #fff;
/*
		&:before {
			@extend %full-coverage;
			z-index: 9;
			content: "";
			background: black;
			opacity: 0.8;
		}
*/
	}
	.logo {
		position: absolute;
		z-index: 1;
		top: 6em;
		left: 0;
		right: 0;
		width: 100%;
		text-align: center;
		img {
			margin: 0 auto;
			max-width: 640px;
		}
	}
	[class*="cta"]{
		position: absolute;
		z-index: 2;
		bottom: 8em;
		width: 100%;
		display: block;
		h1 {
			color: #fff;
			font-weight: 100;
			font-size: em(24px);	
		}
		p {
			color: #fff;	
		}
	}
}


hr.fancy {
	border: none;
	background: url("../svg/trees.01.svg") no-repeat 50% 50%;
	background-size: 200px 100px;
	height: 100px;	
}